export ZSH="$HOME/.local/bin/oh-my-zsh"
export ZDOTDIR="$HOME/.config/zsh"
export HISTFILE="$HOME/.local/state/zsh/history"
ZSH_THEME="catppuccin"
# Auto-update oh my zsh
zstyle ':omz:update' mode auto
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"

DISABLE_UNTRACKED_FILES_DIRTY="true"

# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
plugins=(git vi-mode)

source $ZSH/oh-my-zsh.sh

# Aliases
alias clang=clang-20
alias uvr="uv run"
alias py="uv run python"

# Function to lazy load slow running init scripts.
lazy_load() {
    local init=$argv[-1]
    local -a cmds=($argv[1,-2])
    local cmd
    for cmd ($cmds) {
        eval "$cmd() {
            local c
            for c ($cmds) {
                unfunction \$c
            }
            eval ${(q)init}
            $cmd \"\$@\"
        }"
    }
}

# Add local bin to path.
export PATH="$HOME/.local/bin:$PATH"

# Python init.
export IPYTHONDIR="$HOME/.config/ipython"
export JUPYTER_CONFIG_DIR="$HOME/.config/jupyter"
export JUPYTER_DATA_DIR="$HOME/.local/share/jupyter"
export JUPYTER_RUNTIME_DIR="$HOME/.local/state/jupyter"

# Rust init.
export CARGO_HOME="$HOME/.local/bin/cargo"
export RUSTUP_HOME="$HOME/.local/bin/rustup"
export PATH="$CARGO_HOME/bin:$PATH"
# Rust esp init.
export LIBCLANG_PATH=$(echo $RUSTUP_HOME/toolchains/esp/xtensa-esp32-elf-clang/*/esp-clang/lib(N[-1]))
export PATH=$(echo $RUSTUP_HOME/toolchains/esp/xtensa-esp-elf/*/xtensa-esp-elf/bin(N[-1])):"$PATH"

# Javascript init.
export NVM_DIR="$HOME/.local/bin/nvm"
export PATH=$(echo $NVM_DIR/versions/node/*/bin(N[-1])):"$PATH"
lazy_load nvm "source $NVM_DIR/nvm.sh; source $NVM_DIR/bash_completion"
export NODE_REPL_HISTORY="$HOME/.local/state/node/repl_history"

# Vim init.
alias vim=nvim
export EDITOR='nvim'
export PATH="$HOME/.local/bin/nvim/bin:$PATH"

# Git config location.
export GIT_CONFIG_GLOBAL="$HOME/.config/gitconfig"

# Make sure less doesn't create a hist file in home.
export LESSHISTFILE=-

# Set location of  wgetrc file.
export WGETRC="$HOME/.config/wget/wgetrc"

# Secrets
export ANTHROPIC_API_KEY="{{ (bitwarden "item" "anthropic_key").notes }}"
export OPENAI_API_KEY="{{ (bitwarden "item" "openai_key").notes }}"
export UV_PUBLISH_TOKEN="{{ (bitwarden "item" "pypi_key").notes }}"
