#!/bin/bash

# Install packages.
{{ if eq .chezmoi.os "linux" -}}
    sudo apt-get update -y
    sudo apt install -y cmake
    sudo apt install -y direnv
    sudo apt install -y git
    sudo apt install -y libudev-dev
    sudo apt install -y pkg-config
    sudo apt install -y tmate
    sudo apt install -y tmux
    sudo apt install -y zip
    sudo apt install -y zsh
    sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
    wget -O nvim.tar.gz https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
{{ else if eq .chezmoi.os "darwin" -}}
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
    brew install direnv
    brew install font-fira-code
    brew install tmate
    brew install tmux
    brew install wget
    wget -O nvim.tar.gz https://github.com/neovim/neovim/releases/latest/download/nvim-macos-arm64.tar.gz
{{ end -}}

# Install neovim.
VIM_DIR={{ .bin_dir }}/nvim
rm -rf $VIM_DIR
tar xzvf nvim.tar.gz
rm nvim.tar.gz
mv nvim-* $VIM_DIR

# Install ohmyzsh.
sh -c "$(wget -O- https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh) --keep-zshrc --unattended"

# Install uv (python).
curl -LsSf https://astral.sh/uv/install.sh | sh

# Install a global python environment.
uv tool install jupyter-core \
  --with-executables-from ipython \
  --with jupyterlab \
  --with magnify \
  --with matplotlib \
  --with napari \
  --with numpy \
  --with pandas \
  --with pyqt5 \
  --with scikit-learn \
  --with scipy \
  --with seaborn \
  --with xarray \
  --with zarr

# Devtools
uv tool install pre-commit@latest --with pre-commit-uv
uv tool install ruff@latest

# Install node.
NVM_DIR= {{ .bin_dir}}/nvm
mkdir -p $NVM_DIR
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
\. "$NVM_DIR/nvm.sh"
nvm install 22
# Install node tools.
npm install -g @anthropic-ai/claude-code
npm install -g @bitwarden/cli
npm install -g @openai/codex
npm install -g @google/gemini-cli

# Sync bitwarden.
bw sync

# Install rust.
export RUSTUP_HOME={{ .bin_dir }}/rustup
export CARGO_HOME={{ .bin_dir }}/cargo
curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf | bash -s -- -y

# Install rust tools.
cargo install --locked typst-cli
# Embedded development tools.
cargo install espup esp-generate espflash probe-rs-tools --locked
espup install
rm "$HOME/export-esp.sh"

# Install tmux package manager.
TMUX_PLUGINS_DIR="$HOME/.config/tmux/plugins"
rm -rf TMUX_PLUGINS_DIR
git clone -b latest https://github.com/catppuccin/tmux.git "$TMUX_PLUGINS_DIR/catppuccin/tmux"
git clone https://github.com/tmux-plugins/tmux-battery.git "$TMUX_PLUGINS_DIR/tmux-plugins/tmux-battery"
git clone https://github.com/tmux-plugins/tmux-cpu.git "$TMUX_PLUGINS_DIR/tmux-plugins/tmux-cpu"
