export ZSH="$HOME/.local/bin/oh-my-zsh"
export HISTFILE="$HOME/.local/state/zsh/history"
ZSH_THEME="catppuccin"
# Auto-update oh my zsh
zstyle ':omz:update' mode auto
ENABLE_CORRECTION="true"
COMPLETION_WAITING_DOTS="true"

DISABLE_UNTRACKED_FILES_DIRTY="true"

# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
plugins=(vi-mode)

source $ZSH/oh-my-zsh.sh

#======Aliases======#
# General
alias clang=clang-20

# Git
alias ga="git add"
gc() {
    msg=${(j: :)@[2,-1]}
    git commit -m msg
    git push
}
alias gch="git checkout"
alias gcl="git clone"
alias gd="git diff"
alias gl="git log"
alias gm="git merge"
alias gp="git pull"
alias gr="git reset"
alias gs="git status"

# Python
# We set UV_GLOBAL to tell startup scripts that we're not in a repo specific env.
alias nb="UV_GLOBAL=1 jupyter lab"
alias py="UV_GLOBAL=1 ipython"
alias uvnb="uv run jupyter lab"
alias uvpy="uv run ipython"
alias uvr="uv run"

# Tmux
alias t="tmux"
alias ta="tmux attach -t"
alias tk="tmux kill-session -t"
alias tl="tmux ls"
alias tn="tmux new -s"
alias tr="tmux rename -t"

# Function to lazy load slow running init scripts.
lazy_load() {
    local init=$argv[-1]
    local -a cmds=($argv[1,-2])
    local cmd
    for cmd ($cmds) {
        eval "$cmd() {
            local c
            for c ($cmds) {
                unfunction \$c
            }
            eval ${(q)init}
            $cmd \"\$@\"
        }"
    }
}

# Add local bin to path.
export PATH="$HOME/.local/bin:$PATH"

# Go init.
export PATH="$HOME/.local/bin/go/bin:$PATH"
export GOBIN="$HOME/.local/bin"
export GOPATH="$HOME/.cache/go"

# Python init.
export IPYTHONDIR="$HOME/.config/ipython"
export JUPYTER_CONFIG_DIR="$HOME/.config/jupyter"
export JUPYTER_DATA_DIR="$HOME/.local/share/jupyter"
export JUPYTER_RUNTIME_DIR="$HOME/.local/state/jupyter"

# Rust init.
export CARGO_HOME="$HOME/.local/bin/cargo"
export RUSTUP_HOME="$HOME/.local/bin/rustup"
export PATH="$CARGO_HOME/bin:$PATH"
# Rust esp init.
export LIBCLANG_PATH=$(echo $RUSTUP_HOME/toolchains/esp/xtensa-esp32-elf-clang/*/esp-clang/lib(N[-1]))
export PATH=$(echo $RUSTUP_HOME/toolchains/esp/xtensa-esp-elf/*/xtensa-esp-elf/bin(N[-1])):"$PATH"

# Javascript init.
export NVM_DIR="$HOME/.local/bin/nvm"
export PATH=$(echo $NVM_DIR/versions/node/*/bin(N[-1])):"$PATH"
lazy_load nvm "source $NVM_DIR/nvm.sh; source $NVM_DIR/bash_completion"
export NODE_REPL_HISTORY="$HOME/.local/state/node/repl_history"

# Vim init.
alias vim=nvim
export EDITOR='nvim'
export PATH="$HOME/.local/bin/nvim/bin:$PATH"

# Git config location.
export GIT_CONFIG_GLOBAL="$HOME/.config/gitconfig"

# Make sure less doesn't create a hist file in home.
export LESSHISTFILE=-

# Set location of various config files.
export MPLCONFIGDIR="$HOME/.config/matplotlib"
export TMUX_CONF="$HOME/.config/tmux.conf"
export WGETRC="$HOME/.config/wget/wgetrc"

# Secrets
export ANTHROPIC_API_KEY="{{ (bitwarden "item" "anthropic_key").notes }}"
export OPENAI_API_KEY="{{ (bitwarden "item" "openai_key").notes }}"
export UV_PUBLISH_TOKEN="{{ (bitwarden "item" "pypi_key").notes }}"
